Automação N8N Finanças
{
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "/relatorios",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Gasto Diário",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Gasto por Categoria",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        1648
      ],
      "id": "7506bd2c-ef6a-4cef-8d43-8b7d282edcdc",
      "name": "Send a text message3",
      "webhookId": "132aeacc-5848-40b8-96dc-ec5ac5810824",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Saldo atual": "={{ $json['Saldo atual'] - $('Append or update row in sheet').item.json.Valor}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Saldo atual",
              "displayName": "Saldo atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        -16
      ],
      "id": "f4ff1858-bd98-41d0-9e7a-baf747f27ec5",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1168,
        -16
      ],
      "id": "ef96678a-071f-497c-8bdc-ef62a2a94509",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Gastos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "==ROW()-1",
            "Descrição": "={{ $json.descricao }}",
            "Data": "={{ $json.data }}",
            "Valor": "={{ $json.valor }}",
            "Dia": "==DIA(INDIRECT(\"C\"&ROW()))",
            "Categoria": "={{ $json.categoria }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descrição",
              "displayName": "Descrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dia",
              "displayName": "Dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -16
      ],
      "id": "fe8cf495-7ae1-4512-be65-8867f232b006",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Despesa registrada com sucesso! ✅ \n\nDescriçao: {{ $('Append or update row in sheet').item.json['Descrição'] }}\nData: {{ $('Append or update row in sheet').item.json.Data }}\nValor: R${{ $('Append or update row in sheet').item.json.Valor }}\nCategoria: {{ $('Append or update row in sheet').item.json.Categoria }}\n\nSeu saldo atual é de {{ $json['Saldo atual'] }}\n\nPara Cancelar mande um audio falando \"Cancelar\"\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        -16
      ],
      "id": "f66f8ba4-c8f1-4888-bcae-adbee9a38ec6",
      "name": "Send a text message",
      "webhookId": "20574220-0b4b-443b-ba61-43d19731ea00",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// pegue o texto do nó do Gemini\nconst raw = $input.first().json.content.parts[0].text\n\n// remove cercas de markdown tipo ```json ... ```\nlet cleaned = raw.trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .replace(/^\\uFEFF/, ''); // remove BOM se existir\n\n\nlet data;\ntry {\n  data = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(\"Não consegui fazer JSON.parse do retorno do modelo. Conteúdo:\\n\" + cleaned);\n}\n\n// agora 'data' é um objeto JS\nreturn [{\n  descricao: data.descricao || '',\n  categoria: data.categoria || 'Outros',\n  data: data.data || new Date().toISOString().slice(0,10),\n  valor: Number(data.valor) || 0\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -16
      ],
      "id": "1403f94f-f174-4a25-8de9-a947889ce738",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Você é um assistente financeiro que analisa gravações de voz em português do Brasil.\nSua tarefa é transcrever o áudio e extrair os seguintes dados de uma despesa:\n\n{\n  \"descricao\": \"\",\n  \"categoria\": \"\",\n  \"data\": \"\",\n  \"valor\": 0\n}\n\nRegras:\n- \"descricao\": descreva em poucas palavras a despesa mencionada.\n- \"categoria\": classifique em uma das opções:\n[\"Alimentação\", \"Transporte\", \"Saúde\", \"Moradia\", \"Lazer\", \"Educação\", \"Outros\"].\n\n- \"data\": use SEMPRE o formato DD-MM-YYYY.\n- Interprete datas relativas usando o horário de Brasília (America/Sao_Paulo UTC-3).\n- A data da mensagem é:\n{{ new Date($node[\"Telegram Trigger\"].json.message.date * 1000).toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).slice(0,10) }}\n\nRegras para datas:\n- “hoje” = data da mensagem\n- “ontem” = data da mensagem -1 dia\n- dias da semana = dia mais recente correspondente antes ou igual à data da mensagem\n\n- \"valor\":\n  - extraia o valor em reais como número decimal.\n  - aceite formatos como:\n    - \"45 reais\"\n    - \"R$ 23,50\"\n    - \"vinte e cinco reais\"\n  - se não houver valor, use 0.\n\n- Se mencionar forma de pagamento, adicionar:\n\"meio_pagamento\"\n\nExemplos:\n- pix\n- crédito\n- débito\n- dinheiro\n\nImportante:\n- Responda SOMENTE JSON válido.\n- Não escreva explicações.\n- Não use markdown.\n- Não use ```json.\n- Comece diretamente com \"{\"\n- Não invente informações.\n- Se não tiver certeza da categoria, use \"Outros\".",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        432,
        -16
      ],
      "id": "b80129c4-4726-49c1-9ea0-c2726f87e20b",
      "name": "Analyze audio",
      "credentials": {
        "googlePalmApi": {
          "id": "842vRf5BuHTYgxJb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "e5949d04-e388-4244-b599-322dc71c9ded",
      "name": "Telegram GetFile (áudio)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        176,
        -16
      ],
      "webhookId": "4c6deb3b-e345-4bc0-afb0-a71b019c5f63",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "435a74f1-2c0a-471c-a147-55f3c2590487",
              "leftValue": "={{ $json.message.voice.mime_type }}",
              "rightValue": "=audio/ogg",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "770a11c5-8297-451f-a91c-d5ffa3b9e169",
      "name": "É Áudio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -112,
        0
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "101093e4-6a42-407d-92ff-e0b48a1b8721",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        0
      ],
      "webhookId": "6a299839-242f-42a2-adaf-8d6698933561",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0/export?format=pdf&gid=225434709",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "d7e557cd-58cc-46ea-9681-ecb8b52abcca",
      "name": "Download Grafico Diario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        1856
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "📊 Relatório de Gastos por Dia"
        }
      },
      "id": "cdf54c53-4dfc-4822-b771-ac01ae028023",
      "name": "Enviar Grafico Diario",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1376,
        1856
      ],
      "webhookId": "a33db522-9638-4fc7-a6f6-5c1753de43d0",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0/export?format=pdf&gid=1763783442",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "4309101d-88ef-4f5a-b30d-131ef2041055",
      "name": "Download Grafico Categoria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        2016
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "📊 Relatório de Gastos por Categoria"
        }
      },
      "id": "e2079ca2-8be4-4cb1-92df-c5d1d8555189",
      "name": "Enviar Grafico Categoria",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1376,
        2016
      ],
      "webhookId": "c37809f5-7b40-420b-be26-c2fb23426686",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": " # Saldo\n",
        "height": 1392,
        "width": 928,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        192
      ],
      "id": "1ec69104-cff6-4a58-9ea3-a584c4e268af",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Trigger inicial\nMensagem recebida via Telegram\n",
        "height": 256,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        -96
      ],
      "id": "e7629063-3302-4d96-8e33-6362c7b5b5b9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Separador de texto/áudio \nConferente de tipo de arquivo\n",
        "height": 304,
        "width": 224,
        "color": "#6F7114"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -128
      ],
      "id": "586b76f0-957b-4e9b-bc67-d9a85dee4d41",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Analizador\nEtapa onde se utiliza um agente de ia para separa os dados do audio.",
        "height": 304,
        "color": "#5F4389"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        -128
      ],
      "id": "94a7b847-ce6a-4fae-af7a-c01d315265b4",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Normalização\nProcesso onde os dados se tornam informação.\n",
        "height": 304,
        "color": "#6F7114"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        -128
      ],
      "id": "823a151f-9915-43ce-918e-c5cfb15d4afe",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Google sheets\nCriação de linhas nas tabelas (registros das inclusões) e algoritmo (interno do google sheets para geração de planilhas )",
        "height": 304,
        "width": 656,
        "color": "#257B19"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        -128
      ],
      "id": "3b948760-d4fa-46e9-8282-4777fa06abe4",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Confirmação\nResposta de confirmação de correto ou errado.",
        "height": 304,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        -128
      ],
      "id": "deb4e344-c7f4-497e-85fd-be2e8452440a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Olá Sou seu assitente pessoal de controle de gastos!\n\nO que você precisa?\n\n\n",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Relatórios",
                    "additionalFields": {}
                  },
                  {
                    "text": "Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        1440
      ],
      "id": "ddb5ff3f-c7a4-4fda-9e8d-f165dd35ebb9",
      "name": "Menu",
      "webhookId": "20574220-0b4b-443b-ba61-43d19731ea00",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Mostrando opções para Saldo",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Consultar Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Atualizar Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Adicionar Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        256
      ],
      "id": "ef59205a-9273-4697-8a7f-583f20605224",
      "name": "Saldo",
      "webhookId": "f12ba0eb-6ff9-4e36-80cd-3ca3cbf56db6",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Seu saldo total é de {{ $json['Saldo atual'] }}",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Consultar Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Adicionar Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        400
      ],
      "id": "cdc8ffda-0c92-447a-a83b-139e03793bd7",
      "name": "Consultar Saldo",
      "webhookId": "f12ba0eb-6ff9-4e36-80cd-3ca3cbf56db6",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "57c81eec-f366-4340-8e01-8666a1410bc8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2a147dde-295c-499e-bc2e-410c0d2b6fa1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Consultar Saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "849a67ba-de40-4c0b-b65d-521bc3f1469f",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Atualizar Saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a9793dbc-c378-482f-93e0-17268d514a34",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Adicionar Saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6b851530-f26d-41b7-b492-b5d841fa038f",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Relatórios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "25572f96-45d9-46d9-b742-c7e3355d73d4",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Gastos Diário",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f25a99e8-351b-432a-8438-fd2396a39884",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Gastos por Categoria",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        624,
        880
      ],
      "id": "9c465d6f-e7d6-402c-8a43-9617a0b84015",
      "name": "Switch de opções"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Qual seu saldo total para a atualização",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        560
      ],
      "id": "a57e2bf0-739a-4370-b74c-9c5ed05b6767",
      "name": "Atualizar Saldo",
      "webhookId": "f12ba0eb-6ff9-4e36-80cd-3ca3cbf56db6",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get Estado').item.json.Estado }}",
                    "rightValue": "aguardando_atualizacao_saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8d66d59c-367c-498c-a834-f9640bddab70"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8d21f633-de2f-491d-ae51-e66c87bc2b0e",
                    "leftValue": "={{ $('Get Estado').item.json.Estado }}",
                    "rightValue": "aguardando_adicionar_saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        608,
        240
      ],
      "id": "8321e055-c227-4ea2-a021-6dabc20e0c9b",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a0a33f2f-ea73-4b6d-aea4-de9a29a14908",
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "padrao",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        256
      ],
      "id": "9cee9eac-7b07-4709-96ba-8a62acdccf01",
      "name": "Aguardando dados?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=1772425240#gid=1772425240",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1772425240,
          "mode": "list",
          "cachedResultName": "Estado do chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1772425240"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        256
      ],
      "id": "5f3e2b29-2bec-4de9-89ac-9224b423c68f",
      "name": "Get Estado",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=1772425240#gid=1772425240",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1772425240,
          "mode": "list",
          "cachedResultName": "Estado do chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1772425240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Estado": "padrao"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        1440
      ],
      "id": "b95ebd41-1963-4c3e-8ae1-0c3f8695cb51",
      "name": "Update estado_padrao1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        400
      ],
      "id": "791a43e7-7bfb-4283-8758-660170d47fd4",
      "name": "Get Saldo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=1772425240#gid=1772425240",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1772425240,
          "mode": "list",
          "cachedResultName": "Estado do chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1772425240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Estado": "padrao"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        720
      ],
      "id": "33d21fbf-b3b8-46f7-b7f4-380b611d07ba",
      "name": "Update Estado_Padrao",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Saldo atual": "={{ $('Telegram Trigger').item.json.message.text }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Saldo atual",
              "displayName": "Saldo atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        720
      ],
      "id": "7348039a-a429-44a4-b3cf-b561aad4a9eb",
      "name": "Update Saldo1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Saldo atualizado para {{ $('Update Saldo1').item.json['Saldo atual'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        720
      ],
      "id": "fc2c331e-d2f6-4fe9-bbe2-84838f6b8053",
      "name": "Message Saldo Atualizado",
      "webhookId": "f12ba0eb-6ff9-4e36-80cd-3ca3cbf56db6",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Digite um numero maior ou igual a 0 para a atualizaçao do saldo",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        896
      ],
      "id": "35f27984-622f-463a-81bd-b22da3d3a11a",
      "name": "Message Saldo Incorreto",
      "webhookId": "f12ba0eb-6ff9-4e36-80cd-3ca3cbf56db6",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Qual o valor a adicionar?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        1056
      ],
      "id": "72c1c382-04ff-4621-b9b2-db330cd3a083",
      "name": "Adicionar Saldo",
      "webhookId": "f12ba0eb-6ff9-4e36-80cd-3ca3cbf56db6",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=1772425240#gid=1772425240",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1772425240,
          "mode": "list",
          "cachedResultName": "Estado do chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1772425240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Estado": "aguardando_atualizacao_saldo"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        560
      ],
      "id": "a7578b7b-044d-45fe-a0b3-5845a2202008",
      "name": "Update Estado_Aguardando_Atualizar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=1772425240#gid=1772425240",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1772425240,
          "mode": "list",
          "cachedResultName": "Estado do chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1772425240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Estado": "aguardando_adicionar_saldo"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        1056
      ],
      "id": "d72257a4-00f3-4ba9-a0d9-dcad6056ffa1",
      "name": "Update Estado_Aguardando_Adicionar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "036dd66a-655f-4a67-88fc-60c83e8a5474",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        816
      ],
      "id": "8418a695-3a88-4f38-b20c-aacb05b0a2d7",
      "name": "É Numero?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Digite um numero maior ou igual a 0 para adicionar saldo",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        1392
      ],
      "id": "171f2ce5-7794-4636-a3da-3002f43f67bf",
      "name": "Message Saldo Incorreto1",
      "webhookId": "f12ba0eb-6ff9-4e36-80cd-3ca3cbf56db6",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "036dd66a-655f-4a67-88fc-60c83e8a5474",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        1296
      ],
      "id": "2297522e-343a-4830-a83a-e93048f17701",
      "name": "É Numero?1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Saldo atual": "={{ Number($('Telegram Trigger').item.json.message.text) + Number($json['Saldo atual']) }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Saldo atual",
              "displayName": "Saldo atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        1248
      ],
      "id": "d00694ac-d271-4208-89e5-17b839ebf835",
      "name": "Update Saldo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        1248
      ],
      "id": "17acb3e6-d575-4c32-9bf1-f7265d14f8a1",
      "name": "Get Saldo1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=1772425240#gid=1772425240",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1772425240,
          "mode": "list",
          "cachedResultName": "Estado do chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1772425240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Estado": "padrao"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        1248
      ],
      "id": "a004f5a8-bf73-4e44-b9d8-a4f733208838",
      "name": "Update Estado_Padrao1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Saldo adicionado! Valor do saldo atualizado: {{ $json['Saldo atual'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1888,
        1248
      ],
      "id": "6edd3b10-dd43-4d36-8b7f-02aaa7d14ab6",
      "name": "Message Saldo Atualizado1",
      "webhookId": "f12ba0eb-6ff9-4e36-80cd-3ca3cbf56db6",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        1248
      ],
      "id": "5c729fdb-3f7d-4306-95db-6a5a6ff71981",
      "name": "Get Saldo2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram GetFile (áudio)": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Áudio?": {
      "main": [
        [
          {
            "node": "Telegram GetFile (áudio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "É Áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Grafico Diario": {
      "main": [
        [
          {
            "node": "Enviar Grafico Diario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Grafico Categoria": {
      "main": [
        [
          {
            "node": "Enviar Grafico Categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu": {
      "main": [
        [
          {
            "node": "Update estado_padrao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch de opções": {
      "main": [
        [
          {
            "node": "Saldo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Saldo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar Saldo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adicionar Saldo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Grafico Diario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Grafico Categoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Saldo": {
      "main": [
        [
          {
            "node": "Update Estado_Aguardando_Atualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "É Numero?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Numero?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardando dados?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch de opções",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Estado": {
      "main": [
        [
          {
            "node": "Aguardando dados?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saldo": {
      "main": [
        [
          {
            "node": "Consultar Saldo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Estado_Padrao": {
      "main": [
        [
          {
            "node": "Message Saldo Atualizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Saldo1": {
      "main": [
        [
          {
            "node": "Update Estado_Padrao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar Saldo": {
      "main": [
        [
          {
            "node": "Update Estado_Aguardando_Adicionar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Numero?": {
      "main": [
        [
          {
            "node": "Update Saldo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Saldo Incorreto",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "É Numero?1": {
      "main": [
        [
          {
            "node": "Get Saldo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Saldo Incorreto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Saldo": {
      "main": [
        [
          {
            "node": "Update Estado_Padrao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saldo1": {
      "main": [
        [
          {
            "node": "Update Saldo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Estado_Padrao1": {
      "main": [
        [
          {
            "node": "Get Saldo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saldo2": {
      "main": [
        [
          {
            "node": "Message Saldo Atualizado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "73ad8462663f4c3e50554e0b1dcf6c5ca76fe2bb2d798a5d4058a19b59da7064"
  }
}
