Automação N8N Finanças
{
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Não consegui entender direito, diga novamente!\n\nLembrando que preciso obrigatóriamente de uma descrição e do valor gasto!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        -272
      ],
      "id": "af9f86f8-1592-4b49-94c7-8b3831ee0efd",
      "name": "Não compreendido",
      "webhookId": "0b1ef00d-82d3-4d93-84be-36a3c8cb9ad9",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Saldo atual": "={{ $json['Saldo atual'] - $('Append or update row in sheet1').item.json.Valor}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Saldo atual",
              "displayName": "Saldo atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2256,
        0
      ],
      "id": "1c519403-4c52-476e-9dbf-46ea149edb1a",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        0
      ],
      "id": "6690ef2d-45c3-487f-94c1-12b717d15769",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Gastos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "==ROW()-1",
            "Descrição": "={{ $json.descricao }}",
            "Data": "={{ $json.data }}",
            "Valor": "={{ $json.valor }}",
            "Dia": "==DIA(INDIRECT(\"C\"&ROW()))",
            "Categoria": "={{ $json.categoria }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descrição",
              "displayName": "Descrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dia",
              "displayName": "Dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        0
      ],
      "id": "276a8b7c-8430-4864-a045-8e0ecd46994c",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Despesa registrada com sucesso! ✅ \n\nDescriçao: {{ $('Append or update row in sheet1').item.json['Descrição'] }}\nData: {{ $('Append or update row in sheet1').item.json.Data }}\nValor: R${{ $('Append or update row in sheet1').item.json.Valor }}\nCategoria: {{ $('Append or update row in sheet1').item.json.Categoria }}\n\nSeu saldo atual é de {{ $json['Saldo atual'] }}\n\nPara Cancelar mande um audio falando \"Cancelar\"\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2480,
        0
      ],
      "id": "b4b3915c-16a9-4f6f-b414-737af8fbea2f",
      "name": "Send a text message2",
      "webhookId": "501c9421-0a98-4341-8674-49ab7524f644",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// pegue o texto do nó do Gemini\nconst raw = $input.first().json.content.parts[0].text\n\n// remove cercas de markdown tipo ```json ... ```\nlet cleaned = raw.trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .replace(/^\\uFEFF/, ''); // remove BOM se existir\n\n\nlet data;\ntry {\n  data = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(\"Não consegui fazer JSON.parse do retorno do modelo. Conteúdo:\\n\" + cleaned);\n}\n\n// agora 'data' é um objeto JS\nreturn [{\n  descricao: data.descricao || '',\n  categoria: data.categoria || 'Outros',\n  data: data.data || new Date().toISOString().slice(0,10),\n  valor: Number(data.valor) || 0\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        16
      ],
      "id": "17affec9-fbca-435d-8383-a22cbcfc6501",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Você é um assistente financeiro que analisa gravações de voz em português do Brasil.\nSua tarefa é transcrever o áudio e extrair os seguintes dados de uma despesa:\n\n{\n  \"descricao\": \"\",\n  \"categoria\": \"\",\n  \"data\": \"\",\n  \"valor\": 0\n}\n\nRegras:\n- \"descricao\": descreva em poucas palavras a despesa mencionada.\n- \"categoria\": classifique em uma das opções:\n[\"Alimentação\", \"Transporte\", \"Saúde\", \"Moradia\", \"Lazer\", \"Educação\", \"Outros\"].\n\n- \"data\": use SEMPRE o formato DD-MM-YYYY.\n- Interprete datas relativas usando o horário de Brasília (America/Sao_Paulo UTC-3).\n- A data da mensagem é:\n{{ new Date($node[\"Telegram Trigger1\"].json.message.date * 1000).toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).slice(0,10) }}\n\nRegras para datas:\n- “hoje” = data da mensagem\n- “ontem” = data da mensagem -1 dia\n- dias da semana = dia mais recente correspondente antes ou igual à data da mensagem\n\n- \"valor\":\n  - extraia o valor em reais como número decimal.\n  - aceite formatos como:\n    - \"45 reais\"\n    - \"R$ 23,50\"\n    - \"vinte e cinco reais\"\n  - se não houver valor, use 0.\n\n- Se mencionar forma de pagamento, adicionar:\n\"meio_pagamento\"\n\nExemplos:\n- pix\n- crédito\n- débito\n- dinheiro\n\nImportante:\n- Responda SOMENTE JSON válido.\n- Não escreva explicações.\n- Não use markdown.\n- Não use ```json.\n- Comece diretamente com \"{\"\n- Não invente informações.\n- Se não tiver certeza da categoria, use \"Outros\".\n- Se não for especificado descrição sempre retornar Null\n- Se não for especificado valor sempre retornar 0",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        -112
      ],
      "id": "c5dd0428-7954-4a36-ba6a-c577ec02d62c",
      "name": "Analyze audio1",
      "credentials": {
        "googlePalmApi": {
          "id": "842vRf5BuHTYgxJb",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger1').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "de6af65d-5c6d-4b11-b322-7cf090b7b601",
      "name": "Telegram GetFile (áudio)1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "webhookId": "cc1d782d-a292-453d-b508-bd704f126636",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "435a74f1-2c0a-471c-a147-55f3c2590487",
              "leftValue": "={{ $json.message.voice.mime_type }}",
              "rightValue": "=audio/ogg",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "7597fe4c-4c66-4502-801b-1b118fb42654",
      "name": "É Áudio?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        576,
        16
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "952b5c3b-8bdb-4abc-bf31-8abc281321f2",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        304,
        16
      ],
      "webhookId": "14f3c85c-bc26-42d6-8024-2103d89dd125",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/e/2PACX-1vSXzOIptNW6XJntTSlaB_l2zWZPk2H_yymbMU67aBX-b9gqkpwy5L_z0RUr49xIis1_LBMySOj8eE0p/pubchart?oid=1309474682&format=image",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "4eb9f547-d4cc-4487-9736-67ea25595824",
      "name": "Download Grafico Diario1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        2096
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "📊 Relatório de Gastos por Dia"
        }
      },
      "id": "14f71568-4fdd-4ebb-82f9-eff8a2e78666",
      "name": "Enviar Grafico Diario1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2064,
        2096
      ],
      "webhookId": "6d1159fa-2610-4366-8f1a-d2cf930e7ea3",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/e/2PACX-1vSXzOIptNW6XJntTSlaB_l2zWZPk2H_yymbMU67aBX-b9gqkpwy5L_z0RUr49xIis1_LBMySOj8eE0p/pubchart?oid=2069983709&format=image",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "7fe65230-4a81-44fa-9a09-4f8605b3cd1d",
      "name": "Download Grafico Categoria1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        1904
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "📊 Relatório de Gastos por Categoria"
        }
      },
      "id": "4bf23533-511f-42f8-8425-483db5d6a873",
      "name": "Enviar Grafico Categoria1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2064,
        1904
      ],
      "webhookId": "3509da77-1bd2-462d-ad83-1c8658545c6d",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": " # Saldo\n",
        "height": 1392,
        "width": 928,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1776,
        208
      ],
      "id": "4f56e3ab-5643-40d0-9279-d892e0bd65f4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Trigger inicial\nMensagem recebida via Telegram\n",
        "height": 256,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        -80
      ],
      "id": "1d82a501-24ba-46f2-a0f7-cd8f4dae44bb",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Separador de texto/áudio \nConferente de tipo de arquivo\n",
        "height": 304,
        "width": 224,
        "color": "#6F7114"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        -112
      ],
      "id": "f4d4e25b-55c1-4a07-8d2d-129d197cddb1",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Analizador\nEtapa onde se utiliza um agente de ia para separa os dados do audio.",
        "height": 480,
        "width": 224,
        "color": "#5F4389"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        -272
      ],
      "id": "7c3f4958-298a-4476-b3c4-931c2163e6d6",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Normalização\nProcesso onde os dados se tornam informação.\n",
        "height": 304,
        "width": 208,
        "color": "#6F7114"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1264,
        -112
      ],
      "id": "49ef969c-3def-454c-884f-fe6becd7b40e",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Google sheets\nCriação de linhas nas tabelas (registros das inclusões) e algoritmo (interno do google sheets para geração de planilhas )",
        "height": 304,
        "width": 656,
        "color": "#257B19"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1744,
        -112
      ],
      "id": "c2e4db6b-7b36-4768-a39b-dd14fec7c852",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Olá Sou seu assitente pessoal de controle de gastos!\n\nO que você precisa?\n\n\n",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Relatórios",
                    "additionalFields": {}
                  },
                  {
                    "text": "Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        1360
      ],
      "id": "b2e1581c-ed9e-4e7d-b517-a8d7069bf0b3",
      "name": "Menu1",
      "webhookId": "f671900f-dd34-4624-951e-60d8b46d5cbc",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Seu saldo total é de {{ $json['Saldo atual'] }}",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Consultar Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Adicionar Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        416
      ],
      "id": "1d23c295-2241-42ce-b9ff-d440b7b3a4a3",
      "name": "Consultar Saldo1",
      "webhookId": "891612c8-3d4d-47e5-a753-315bc06f5729",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "Saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "57c81eec-f366-4340-8e01-8666a1410bc8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2a147dde-295c-499e-bc2e-410c0d2b6fa1",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "Consultar Saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "849a67ba-de40-4c0b-b65d-521bc3f1469f",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "Atualizar Saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a9793dbc-c378-482f-93e0-17268d514a34",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "Adicionar Saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6b851530-f26d-41b7-b492-b5d841fa038f",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "Relatórios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "25572f96-45d9-46d9-b742-c7e3355d73d4",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "Gastos Diário",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f25a99e8-351b-432a-8438-fd2396a39884",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "Gastos por Categoria",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1312,
        896
      ],
      "id": "3b27d186-4cd1-4fd2-92c5-b2625ee2890e",
      "name": "Switch de opções1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Qual seu saldo total para a atualização \n\nDigite \"Cancelar\" para voltar ao menu",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        576
      ],
      "id": "57460dc5-fa3f-4e55-a745-da0f1081e3f2",
      "name": "Atualizar Saldo1",
      "webhookId": "04b9f777-476f-4ba3-a6be-8af2fe2596ff",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7c30f06d-d930-453f-be6c-04877ff0b002",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "Cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get Estado1').item.json.Estado }}",
                    "rightValue": "aguardando_atualizacao_saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8d66d59c-367c-498c-a834-f9640bddab70"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8d21f633-de2f-491d-ae51-e66c87bc2b0e",
                    "leftValue": "={{ $('Get Estado1').item.json.Estado }}",
                    "rightValue": "aguardando_adicionar_saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1296,
        256
      ],
      "id": "c8a22b11-d892-4638-8ba6-5c1c7d50bdf0",
      "name": "Switch1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a0a33f2f-ea73-4b6d-aea4-de9a29a14908",
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "padrao",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        272
      ],
      "id": "b81b78cc-9c90-4070-90de-7299411d1b7d",
      "name": "Aguardando dados?1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=1772425240#gid=1772425240",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1772425240,
          "mode": "list",
          "cachedResultName": "Estado do chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1772425240"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        272
      ],
      "id": "cb547154-bfc7-476a-89c7-1237f6f36ccc",
      "name": "Get Estado1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=1772425240#gid=1772425240",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1772425240,
          "mode": "list",
          "cachedResultName": "Estado do chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1772425240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Estado": "padrao"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        1360
      ],
      "id": "16ff0d48-d3b4-4a88-bafc-597d09270f4e",
      "name": "Update estado_padrao",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        416
      ],
      "id": "4c6dd989-7709-4cbb-b95c-3993abba307e",
      "name": "Get Saldo3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=1772425240#gid=1772425240",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1772425240,
          "mode": "list",
          "cachedResultName": "Estado do chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1772425240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Estado": "padrao"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2112,
        736
      ],
      "id": "57ff9333-1ae7-490f-a2db-db378656f818",
      "name": "Update Estado_Padrao2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Saldo atual": "={{ $('Telegram Trigger1').item.json.message.text }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Saldo atual",
              "displayName": "Saldo atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1952,
        736
      ],
      "id": "1cbb140e-3d9f-4565-8028-dee39a217bb3",
      "name": "Update Saldo2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Saldo atualizado para {{ $('Update Saldo2').item.json['Saldo atual'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2272,
        736
      ],
      "id": "6e6e00d2-0f4d-4f30-9fc9-c9b5465dbf8a",
      "name": "Message Saldo Atualizado2",
      "webhookId": "d00c1204-1714-4290-a46e-2954a649204c",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Digite um numero maior ou igual a 0 para a atualizaçao do saldo",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1952,
        912
      ],
      "id": "82d8d625-ca68-4096-88e3-28c7abc2d5e8",
      "name": "Message Saldo Incorreto4",
      "webhookId": "e50f51e5-48f8-4af8-94c3-bd59a3892bb1",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Qual o valor a adicionar?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        1072
      ],
      "id": "5c3be1be-48f2-44b0-ada6-3687e85105a5",
      "name": "Adicionar Saldo1",
      "webhookId": "9c48495d-1fc9-4927-aaca-4d238d37eda4",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=1772425240#gid=1772425240",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1772425240,
          "mode": "list",
          "cachedResultName": "Estado do chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1772425240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Estado": "aguardando_atualizacao_saldo"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        576
      ],
      "id": "fcb41289-5c33-4514-b171-5f44f758ed50",
      "name": "Update Estado_Aguardando_Atualizar1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=1772425240#gid=1772425240",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1772425240,
          "mode": "list",
          "cachedResultName": "Estado do chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1772425240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Estado": "aguardando_adicionar_saldo"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1984,
        1072
      ],
      "id": "12980eea-a00c-4161-9425-4cb6b35907ed",
      "name": "Update Estado_Aguardando_Adicionar1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "036dd66a-655f-4a67-88fc-60c83e8a5474",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        832
      ],
      "id": "860e1431-513e-4156-9dbc-c6512805b7d6",
      "name": "É Numero?2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Digite um numero maior ou igual a 0 para adicionar saldo",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1968,
        1408
      ],
      "id": "d17720ae-d715-4471-b426-30cfcffdf3c5",
      "name": "Message Saldo Incorreto5",
      "webhookId": "02cd3cf2-a7c1-4062-821f-1de453b582e0",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "036dd66a-655f-4a67-88fc-60c83e8a5474",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1808,
        1312
      ],
      "id": "d1818c76-d261-419e-b1c4-81f3119b0196",
      "name": "É Numero?3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Saldo atual": "={{ Number($('Telegram Trigger1').item.json.message.text) + Number($json['Saldo atual']) }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Saldo atual",
              "displayName": "Saldo atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2128,
        1264
      ],
      "id": "84cd86c7-0429-4249-85aa-fdc62ae9a682",
      "name": "Update Saldo3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        1264
      ],
      "id": "268acbb4-80e3-4606-9269-9366406a19cd",
      "name": "Get Saldo4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=1772425240#gid=1772425240",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1772425240,
          "mode": "list",
          "cachedResultName": "Estado do chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1772425240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Estado": "padrao"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2288,
        1264
      ],
      "id": "83097f2d-3c77-4768-9584-a55cd3851656",
      "name": "Update Estado_Padrao3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Saldo adicionado! Valor do saldo atualizado: {{ $json['Saldo atual'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2576,
        1264
      ],
      "id": "8ddb9141-34b1-4bd8-bfd9-eeee78c42c27",
      "name": "Message Saldo Atualizado3",
      "webhookId": "43e013e1-48a6-4e28-9ae1-7db1b1e45274",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191341900,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k31VvY9P7iIjA9xgkFOF0QhYGsFvFpyclTiQ-1zeNs/edit#gid=1191341900"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2432,
        1264
      ],
      "id": "3a92b8e2-04d3-4435-ae06-d298858209b5",
      "name": "Get Saldo5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Ry6VVZXYpou5WmD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Relatórios",
        "height": 608,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        1632
      ],
      "typeVersion": 1,
      "id": "2bb344bb-be2b-46f4-b2ba-77067304b5ea",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Mostrando opções para relatórios",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Gastos Diário",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Gastos por Categoria",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1856,
        1712
      ],
      "id": "aea908a7-4eda-4851-b6c6-feb949a0410a",
      "name": "Opções Relatórios1",
      "webhookId": "8b96d72a-f164-46a0-a252-9ffaf6187bf5",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Mostrando opções para Saldo",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Consultar Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Atualizar Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Adicionar Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        272
      ],
      "id": "4e73806d-7d86-4385-9334-43620932485b",
      "name": "Opções Saldo1",
      "webhookId": "3e64dd80-0950-4d41-bfe9-8339a39b4b5e",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Menu padrão",
        "height": 224,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        1312
      ],
      "typeVersion": 1,
      "id": "2726c57e-84b0-4e27-911b-199335f47707",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "89dc684e-5fe2-427b-be6a-4d23541dee0d",
              "leftValue": "={{ $json.descricao }}",
              "rightValue": "Despesa não especificada",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "ff62c8c7-823a-4998-ac49-53408f65a1ef",
              "leftValue": "={{ $json.valor }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1504,
        0
      ],
      "id": "e4186cb9-eeb1-49ad-bd48-7f6098d4223e",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Infelizmente a IA está fora do ar no momento tente novamente mais tarde😶‍🌫️",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        48
      ],
      "id": "87774a95-9bcb-4c07-a9f1-7c7e1f0c3061",
      "name": "Serviço indisponível1",
      "webhookId": "68e523cc-8aee-4f53-b246-2c79c9192b84",
      "credentials": {
        "telegramApi": {
          "id": "goG0y76cnfA9VniQ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Serviço indisponível1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram GetFile (áudio)1": {
      "main": [
        [
          {
            "node": "Analyze audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Áudio?1": {
      "main": [
        [
          {
            "node": "Telegram GetFile (áudio)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "É Áudio?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Grafico Diario1": {
      "main": [
        [
          {
            "node": "Enviar Grafico Diario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Grafico Categoria1": {
      "main": [
        [
          {
            "node": "Enviar Grafico Categoria1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu1": {
      "main": [
        [
          {
            "node": "Update estado_padrao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch de opções1": {
      "main": [
        [
          {
            "node": "Opções Saldo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Saldo3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar Saldo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adicionar Saldo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opções Relatórios1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Grafico Categoria1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Grafico Diario1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Saldo1": {
      "main": [
        [
          {
            "node": "Update Estado_Aguardando_Atualizar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Menu1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Numero?2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Numero?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardando dados?1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch de opções1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Estado1": {
      "main": [
        [
          {
            "node": "Aguardando dados?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saldo3": {
      "main": [
        [
          {
            "node": "Consultar Saldo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Estado_Padrao2": {
      "main": [
        [
          {
            "node": "Message Saldo Atualizado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Saldo2": {
      "main": [
        [
          {
            "node": "Update Estado_Padrao2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar Saldo1": {
      "main": [
        [
          {
            "node": "Update Estado_Aguardando_Adicionar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Numero?2": {
      "main": [
        [
          {
            "node": "Update Saldo2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Saldo Incorreto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Numero?3": {
      "main": [
        [
          {
            "node": "Get Saldo4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Saldo Incorreto5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Saldo3": {
      "main": [
        [
          {
            "node": "Update Estado_Padrao3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saldo4": {
      "main": [
        [
          {
            "node": "Update Saldo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Estado_Padrao3": {
      "main": [
        [
          {
            "node": "Get Saldo5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saldo5": {
      "main": [
        [
          {
            "node": "Message Saldo Atualizado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Não compreendido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "73ad8462663f4c3e50554e0b1dcf6c5ca76fe2bb2d798a5d4058a19b59da7064"
  }
}
