melhorias visuais
{
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/saldo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "57c81eec-f366-4340-8e01-8666a1410bc8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6b851530-f26d-41b7-b492-b5d841fa038f",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/relatorios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "25572f96-45d9-46d9-b742-c7e3355d73d4",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Gasto Diário",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f25a99e8-351b-432a-8438-fd2396a39884",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Gasto por Categoria",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        512,
        480
      ],
      "id": "a23af62f-39c6-414c-a8aa-235d3b01ca41",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "/relatorios",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Gasto Diário",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Gasto por Categoria",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        592
      ],
      "id": "61858daf-24ee-40c4-8740-45ac17b083c2",
      "name": "Send a text message3",
      "webhookId": "132aeacc-5848-40b8-96dc-ec5ac5810824"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "/saldo",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Consultar Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Adicionar Saldo",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        400
      ],
      "id": "1eee9aef-4587-44b2-b3ca-8070f8ce53d7",
      "name": "Send a text message2",
      "webhookId": "f12ba0eb-6ff9-4e36-80cd-3ca3cbf56db6"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0",
          "mode": "list",
          "cachedResultName": "AutoFin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 842931651,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0/edit#gid=842931651"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Saldo atual": "={{ $json['Saldo atual'] - $('Append or update row in sheet').item.json.Valor}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Saldo atual",
              "displayName": "Saldo atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        -32
      ],
      "id": "401e2e28-be28-4adc-876e-31c7b209faea",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0",
          "mode": "list",
          "cachedResultName": "AutoFin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 842931651,
          "mode": "list",
          "cachedResultName": "Saldo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0/edit#gid=842931651"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -32
      ],
      "id": "81d93809-c5d6-45d9-804e-7f49b918fc78",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0",
          "mode": "list",
          "cachedResultName": "AutoFin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 604587229,
          "mode": "list",
          "cachedResultName": "Gastos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0/edit#gid=604587229"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Descrição": "={{ $json.descricao }}",
            "Data": "={{ $json.data }}",
            "Categoria": "={{ $json.categoria }}",
            "Valor": "={{ $json.valor }}",
            "Id": "==ROW()-1",
            "Dia": "==DIA(INDIRECT(\"C\"&ROW()))"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descrição",
              "displayName": "Descrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dia",
              "displayName": "Dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        -32
      ],
      "id": "a038c99e-da6b-4480-812c-ecdf02a5209a",
      "name": "Append or update row in sheet"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Despesa registrada com sucesso! ✅ \n\nDescriçao: {{ $('Append or update row in sheet').item.json['Descrição'] }}\nData: {{ $('Append or update row in sheet').item.json.Data }}\nValor: R${{ $('Append or update row in sheet').item.json.Valor }}\nCategoria: {{ $('Append or update row in sheet').item.json.Categoria }}\n\nSeu saldo atual é de {{ $json['Saldo atual'] }}\n\nPara Cancelar mande um audio falando \"Cancelar\"\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        -48
      ],
      "id": "6cb11347-45c3-4f67-a134-d6d2e3044870",
      "name": "Send a text message",
      "webhookId": "20574220-0b4b-443b-ba61-43d19731ea00"
    },
    {
      "parameters": {
        "jsCode": "// pegue o texto do nó do Gemini\nconst raw = $input.first().json.content.parts[0].text\n\n// remove cercas de markdown tipo ```json ... ```\nlet cleaned = raw.trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .replace(/^\\uFEFF/, ''); // remove BOM se existir\n\n\nlet data;\ntry {\n  data = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(\"Não consegui fazer JSON.parse do retorno do modelo. Conteúdo:\\n\" + cleaned);\n}\n\n// agora 'data' é um objeto JS\nreturn [{\n  descricao: data.descricao || '',\n  categoria: data.categoria || 'Outros',\n  data: data.data || new Date().toISOString().slice(0,10),\n  valor: Number(data.valor) || 0\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -16
      ],
      "id": "83da2cdb-cb37-4eb6-b49b-3ff798d3730a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Você é um assistente financeiro que analisa gravações de voz em português do Brasil.\nSua tarefa é transcrever o áudio e extrair os seguintes dados de uma despesa:\n\n{\n  \"descricao\": \"\",\n  \"categoria\": \"\",\n  \"data\": \"\",\n  \"valor\": 0\n}\n\nRegras:\n- \"descricao\": descreva em poucas palavras a despesa mencionada.\n- \"categoria\": classifique em uma das opções:\n[\"Alimentação\", \"Transporte\", \"Saúde\", \"Moradia\", \"Lazer\", \"Educação\", \"Outros\"].\n\n- \"data\": use SEMPRE o formato DD-MM-YYYY.\n- Interprete datas relativas usando o horário de Brasília (America/Sao_Paulo UTC-3).\n- A data da mensagem é:\n{{ new Date($node[\"Telegram Trigger\"].json.message.date * 1000).toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).slice(0,10) }}\n\nRegras para datas:\n- “hoje” = data da mensagem\n- “ontem” = data da mensagem -1 dia\n- dias da semana = dia mais recente correspondente antes ou igual à data da mensagem\n\n- \"valor\":\n  - extraia o valor em reais como número decimal.\n  - aceite formatos como:\n    - \"45 reais\"\n    - \"R$ 23,50\"\n    - \"vinte e cinco reais\"\n  - se não houver valor, use 0.\n\n- Se mencionar forma de pagamento, adicionar:\n\"meio_pagamento\"\n\nExemplos:\n- pix\n- crédito\n- débito\n- dinheiro\n\nImportante:\n- Responda SOMENTE JSON válido.\n- Não escreva explicações.\n- Não use markdown.\n- Não use ```json.\n- Comece diretamente com \"{\"\n- Não invente informações.\n- Se não tiver certeza da categoria, use \"Outros\".",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        592,
        -16
      ],
      "id": "ecdb36ba-8966-4b2d-9472-513476a3badb",
      "name": "Analyze audio"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "2fa65d82-2588-4ef5-acd9-1f96d164105b",
      "name": "Telegram GetFile (áudio)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        336,
        -16
      ],
      "webhookId": "4c6deb3b-e345-4bc0-afb0-a71b019c5f63",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "435a74f1-2c0a-471c-a147-55f3c2590487",
              "leftValue": "={{ $json.message.voice.mime_type }}",
              "rightValue": "=audio/ogg",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "ddbe7824-6864-428a-bf89-d703e656d1d8",
      "name": "É Áudio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        64,
        0
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "20d85f79-b283-4018-9451-2919e1a45954",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -16
      ],
      "webhookId": "6a299839-242f-42a2-adaf-8d6698933561"
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0/export?format=pdf&gid=225434709",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "cfcd39ee-2a18-416f-a804-4148e62f3feb",
      "name": "Download Grafico Diario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        912
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "📊 Relatório de Gastos por Dia"
        }
      },
      "id": "4310dde0-8b5b-4658-8ce7-313d579115fd",
      "name": "Enviar Grafico Diario",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        912
      ],
      "webhookId": "a33db522-9638-4fc7-a6f6-5c1753de43d0"
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/1j9nKIWJmvV00oralCMy_SmgF70-lJTg_rMy9tBVC6Z0/export?format=pdf&gid=1763783442",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "cc4db201-07ec-4f8c-9884-142dc273b59d",
      "name": "Download Grafico Categoria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "📊 Relatório de Gastos por Categoria"
        }
      },
      "id": "af848361-caad-4c2d-a697-894ed6e8ae1f",
      "name": "Enviar Grafico Categoria",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        1120
      ],
      "webhookId": "c37809f5-7b40-420b-be26-c2fb23426686"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## ChatBot\n**Entrada de informações e resposta seguindo o padrão Telegram ( /start ) ",
        "height": 448,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        368
      ],
      "id": "14609511-9c75-4f76-aeaf-3f908ede0227",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Geração de gráficos \nRequisição ao google sheets e envio via telegram\n",
        "height": 480,
        "width": 464,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        816
      ],
      "id": "39dac560-6379-4d6c-9cb9-ac43c82c6789",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": " ## Resposta automática \n",
        "height": 432,
        "width": 288,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        320
      ],
      "id": "fafaa25f-491c-421c-91e4-0ff277eaa916",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Trigger inicial\nMensagem recebida via Telegram\n",
        "height": 288,
        "width": 288,
        "color": "#2C1C1C"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        -144
      ],
      "id": "f9dc84e0-c5a5-4893-acc8-b0d5a25b3f2c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Separador de texto/áudio \nConferente de tipo de arquivo\n",
        "height": 256,
        "width": 256,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -128
      ],
      "id": "bf962b85-73ca-4c3f-ba90-df8f249829ff",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Recuperador de dados \nEtapa de receber o audio para ser trabalhado\n",
        "height": 304,
        "width": 224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        -160
      ],
      "id": "84646bdd-9e01-43b6-8483-7123d8055952",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Analizador\nEtapa onde se utiliza um agente de ia para separa os dados do audio.",
        "height": 304,
        "color": "#5F4389"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        -160
      ],
      "id": "340709ae-fa5c-4ecd-8888-b6ac2cbf6c61",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Normalização\nProcesso onde os dados se tornam informação.\n",
        "height": 304,
        "color": "#6F7114"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        -160
      ],
      "id": "8f29e689-e582-41af-9fd8-a92bc365ce45",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Google sheets\nCriação de linhas nas tabelas (registros das inclusões) e algoritmo (interno do google sheets para geração de planilhas )",
        "height": 304,
        "width": 656,
        "color": "#316930"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        -160
      ],
      "id": "78302b40-4e6e-421b-a60a-830c1d9d6813",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Confirmação\nResposta de confirmação de correto ou errado.",
        "height": 304,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        -160
      ],
      "id": "d4048986-2b7c-4fdf-b577-52f170928e25",
      "name": "Sticky Note9"
    }
  ],
  "connections": {
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Grafico Diario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Grafico Categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram GetFile (áudio)": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Áudio?": {
      "main": [
        [
          {
            "node": "Telegram GetFile (áudio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "É Áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Grafico Diario": {
      "main": [
        [
          {
            "node": "Enviar Grafico Diario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Grafico Categoria": {
      "main": [
        [
          {
            "node": "Enviar Grafico Categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d3e235496bc3188613cdc998f395d8ab50c4af8641835d073e2a9932423e5a37"
  }
}
